.field {
	min-width: 30ch;
}

.field .field-header {
	background-color: rgba(var(--primary-color), .4);
	border-radius: .2em;
	margin-bottom: .2em;
	padding: 0 .4em;
	text-align: center;
}

.field.text-field input,
.field.number-field input {
	min-width: 100%;
}

.field .select-input {
	width: fit-content;
	min-width: 30ch;
}

.field .multi-select {
	padding: 1em;
	background-color: rgba(var(--primary-color), .1);
	border-radius: .2em;
	margin-top: .6em;
}
.field .multi-select:not(:has(>*)) {
	display: none;
}

.field .multi-select .multi-select-arg {
	flex-wrap: nowrap;
	justify-content: start;
	background-color: rgba(var(--primary-color), .1);
	margin: .5em;
}

.field .multi-select .arg-display {
	background-color: rgba(var(--primary-color), .4);
	padding: .4em .5em;
	border-radius: .2em;
}

.field .select-field,
.field .next-fields {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.field .multi-select .multi-select-arg .delete-select-arg {
	padding: 1em .8em;
	border-radius: .2em;
	color: #333;
	background-color: #b90000;
}

.field.expansion-field > .field-header,
.field.incremental-field > .field-header {
	font-size: 1.2em;
	text-align: left;
}

.field.expansion-field .additional,
.field.incremental-field .additional {
	width: fit-content;
	margin-top: 1em;
	padding: 1em 2em;
}

.field.expansion-field .input-fields,
.field.incremental-field .input-fields {
	display: flex;
	gap: 1em;
}
.field.incremental-field .input-fields {
	min-width: 30ch;
}

.field.expansion-field .add-row,
.field.incremental-field .add-row {
	text-align: center;
	width: 100%;
	margin-top: .4em;
	padding: .2em;
	border-radius: .4em;
	background-color: rgba(var(--primary-color), .6);
}
.field.incremental-field .add-row {
	margin-top: 0;
}

.field.expansion-field .expansion-data:has(>*),
.field.expansion-field .fixed-data:has(>*),
.field.incremental-field .expansion-data:has(>*) {
	margin: 1em;
	padding: 1em;
	background-color: rgba(var(--primary-color), .1);
	border-radius: .2em;
}

.field.expansion-field .expansion-data > div,
.field.incremental-field .expansion-data > div {
	display: flex;
	gap: 1em;
	margin: .8em;
	padding: .8em;
	background-color: rgba(var(--primary-color), .1);
	border-radius: .2em;
}

.field.incremental-field .row-counter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.field.incremental-field .row-counter > p {
	padding: .4em 1em;
	background-color: rgba(var(--primary-color), .2);
	border-radius: .4em;
}

.field.deduction-field {
	padding: .2em .4em;
	background-color: rgba(255, 255, 255, .6);
	border-radius: .2em;
	display: flex;
	align-items: center;
}

.react-tabs__tab:focus:after {
	content: unset;
}