.field {
	min-width: 30ch;
}

.field-header {
	background-color: rgba(var(--primary-color), .3);
	border-radius: .2em;
	margin-bottom: 1em;
	padding: 0 .4em;
	text-align: center;
}

.field .fixed-value,
.field.deduction-field .deduction-result {
	padding: .2em .4em;
	background-color: rgba(255, 255, 255, .6);
	border-radius: .2em;
	width: 100%;
	text-align: center;
}

.field .no-value {
	padding: 1em;
	background-color: rgba(var(--primary-color), .1);
	border-radius: .2em;
}

.field.text-field input,
.field.text-field textarea,
.field.number-field input {
	min-width: 100%;
}

.field.text-field textarea {
	min-height: 5em;
	white-space: pre;
	overflow-wrap: normal;
}
.field.text-field textarea::-webkit-scrollbar {
	background-color: transparent;
	width: .8em;
	height: .8em;
}
.field.text-field textarea::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, .8);
	border-radius: 2em;
}

.field .select-input {
	width: fit-content;
	min-width: 30ch;
}
.field .select-input:not(:has(>*)) {
	display: none;
}

.field .multi-select {
	padding: .4em 1em;
	margin-top: .6em;
}
.field .multi-select:not(:has(>*)) {
	display: none;
}

.field.multi-select-field .select-all {
	width: 100%;
	font-size: .8em;
	padding-top: .2em;
	padding-bottom: .2em;
	margin-bottom: .4em;
	background-color: rgba(var(--primary-color), .2);
	color: rgb(var(--primary-color));
	font-weight: bold;
}

.field .multi-select .multi-select-arg {
	flex-wrap: nowrap;
	justify-content: start;
	background-color: rgba(var(--primary-color), .1);
	margin: .5em;
}

.field .multi-select .arg-display {
	background-color: rgba(var(--primary-color), .4);
	padding: .4em .5em;
	border-radius: .2em;
}

.field .select-field,
.field .next-fields {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.field .multi-select .multi-select-arg .delete-row,
.field.expansion-field .delete-row {
	padding: 1em .8em;
	border-radius: .2em;
	color: #333;
	background-color: #b90000;
	margin-left: auto;
}

.field.expansion-field .delete-row {
	height: fit-content;
	margin-top: auto;
	margin-bottom: auto;
}

.field.expansion-field .additional {
	width: fit-content;
	padding: 1em 2em;
}

.field.expansion-field .input-fields {
	display: flex;
	gap: 1em;
	min-width: 20ch;
}

.field.expansion-field .add-row {
	text-align: center;
	width: 100%;
	margin-top: .4em;
	padding: .2em;
	border-radius: .4em;
	background-color: rgba(var(--primary-color), .6);
}

.field p.no-value {
	text-align: center;
}

.field.expansion-field .fixed-data > div,
.field.expansion-field .expansion-data > div {
	display: flex;
	gap: 1em;
	margin: .8em;
	padding: .8em;
	background-color: rgba(255, 255, 255, .5);
	border-radius: .2em;
}

.field.expansion-field .row-counter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.field.expansion-field .row-counter > p {
	padding: .4em 1em;
	background-color: rgba(var(--primary-color), .2);
	border-radius: .4em;
}

.field.deduction-field > div {
	display: flex;
	align-items: start;
	margin-top: .5em;
	gap: 1em;
}

.field.deduction-field .deduction-hint {
	text-align: center;
	display: flex;
	align-items: start;
	gap: .5em;
}

.field.deduction-field .deduction-hint .toggle-hint {
	padding: .2em .6em;
	transition: transform .3s;
}
.field.deduction-field .deduction-hint .toggle-hint > i {
	transition: transform .3s;
}
.field.deduction-field .deduction-hint.show-hint .toggle-hint > i {
	transform: rotate(90deg);
}

.field.deduction-field .deduction-hint:not(.show-hint) table {
	display: none;
}

.field.deduction-field .deduction-hint table th,
.field.deduction-field .deduction-hint table td {
	max-width: 15ch;
	padding: .4em 1em;
}

.field.deduction-field .deduction-hint table th {
	background-color: rgba(var(--primary-color), .2);
}

.field.deduction-field .deduction-hint table td {
	background-color: rgba(255, 255, 255, .4);
}

.field.deduction-field .deduction-hint table thead tr:first-child th:first-child {
	border-top-left-radius: .2em;
}
.field.deduction-field .deduction-hint table thead tr:first-child th:last-child {
	border-top-right-radius: .2em;
}
.field.deduction-field .deduction-hint table tbody tr:last-child td:first-child {
	border-bottom-left-radius: .2em;
}

.field.deduction-field .deduction-hint table tbody tr:last-child td:last-child {
	border-bottom-right-radius: .2em;
}
