.form .title {
	margin-bottom: .4em;
}

.form-section {
	padding: 1.4em;
}

.form-section > h3 {
	width: fit-content;
	background-color: rgba(var(--primary-color), .2);
	text-align: center;
	padding: .4em 1em;
	border-radius: .2em;
	margin-bottom: 1em;
}

.form-section .section-split {
	display: flex;
}
.form-section .section-split > :first-child {
	flex-grow: 1;
}

.form-section .toggle-show-images {
	font-size: .6em;
	padding: .2em .4em;
	transition: transform .3s;
	background-color: rgba(var(--primary-color), .2);
}
.form-section .toggle-show-images>i {
	transition: transform .3s;
}
.form-section .toggle-show-images[data-toggled=true]>i {
	transform: rotate(180deg);
}

.form-section .images {
	min-width: 200px;
	max-width: 350px;
	background-color: rgba(var(--primary-color), .1);
	padding: 1em .5em;
	height: fit-content;
	border-radius: .4em;
}

.form-section .image {
	position: relative;
}

.form-section .image img {
	width: 100%;
	height: fit-content;
}

.form-section .starter-field {
	margin-bottom: 1em;
	padding: 0em 1em;
	border-radius: .4em;
	background-color: rgba(var(--primary-color), .1);
}

.form-section .starter-field .MuiAccordion-heading .field-header {
	font-size: 1.1em;
}
