.form {
	background-color: rgba(var(--primary-color), 0.2);
	border-radius: .4em;
	width: 100%;
	position: relative;
}

.form .name {
	font-size: 2em;
	background-color: rgba(var(--primary-color), .5);
	width: 100%;
	border-radius: .1em;
	text-align: center;
}

.form-sections {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
	margin-bottom: 2em;
}

.form-sections > * {
	width: 100%;
}

.form-sections>button {
	width: fit-content;
}

.form-section {
	border-radius: .4em;
	align-items: start;
}

.form-section h3 {
	width: fit-content;
	background-color: rgba(var(--primary-color), .2);
	text-align: center;
	padding: .4em 1em;
	border-radius: .2em;
}

.form-section .images {
	background-color: rgba(var(--primary-color), .1);
	padding: 1em .5em;
	height: fit-content;
	border-radius: .4em;
}

.form-section .image {
	position: relative;
}

.form-section .image img {
	width: 100%;
	height: fit-content;
}

.form-section .starter-field {
	margin-bottom: 1em;
	padding: 1em;
	border-radius: .4em;
	background-color: rgba(var(--primary-color), .1);
}

.form-section .starter-field > .field > .field-header {
	text-align: left;
}
