.table-template {
	background-color: rgba(var(--primary-color), .4);
	padding: 2em;
	border-radius: .4em;
}

.table-template .header-input {
	position: relative;
}

.table-template .header-input>div {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin-right: 1ch;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-template .header-input>input {
	font-size: 1.05em;
}

.table-template .add-header,
.table-template .header-input>div>button,
.table-template .add-field {
	background-color: transparent;
	padding: 1px;
	border-width: 2px;
	border-radius: 50%;
}

.table-template .add-header>i,
.table-template .header-input>div>button>i,
.table-template .add-field>i {
	display: block;
}

.table-template .add-header,
.table-template .add-field {
	margin-left: .4em;
}

.table-template .add-header:not(:disabled):hover,
.table-template .add-field:not(:disabled):hover {
	border-color: #e0e0e0;
}

.table-template .section {
	background-color: rgba(var(--primary-color), .2);
	padding: .8em;
	margin: .5em;
	gap : 0;
	border-radius: .4em;
	width: 100%;
}
