.dropdown {
	position: relative;
	padding: .4em .8em;
}

.dropdown>ul {
	list-style: none;
	position: absolute;
	z-index: 100;
	top: 120%;
	left: 50%;
	width: max-content;
	max-width: 300%;
	min-width: 20ch;
	max-height: 12em;
	transform: translateX(-50%);
	background-color: #f9f9f9;
	padding: .4em;
	border-radius: .4em;
	overflow: auto;
}

.dropdown:not(.active)>ul {
	display: none;
}

.dropdown>ul>li {
	background-color: rgba(var(--primary-color), .2);
	margin: .2em 0;
	padding: .2em .5em;
	border-radius: .2em;
}

.dropdown>ul>li:hover {
	background-color: rgba(var(--primary-color), .4);
}

.dropdown hr {
	margin: .4em 0;
}

.dropdown hr:first-child {
	display: none;
}

.dropdown .no-selection {
	padding: .4em .8em;
}

.dropdown .no-selection i {
	color: rgb(255, 50, 50);
	margin-right: .4em;
}
