.anatoms,
.anatom {
	padding: 2em;
	padding-left: 4em;
}

.anatoms h1 {
	margin-bottom: 1em;
}

.edit-anatoms {
	padding: 1em;
}

.select-anatoms i {
	color: rgb(var(--primary-color));
}

.select-anatoms .search,
.edit-anatoms .search {
	display: flex;
	align-items: center;
	gap: 1em;
	margin-bottom: 1em;
}

.select-anatoms .search>input,
.edit-anatoms .search>input {
	width: 40ch;
	padding: .5em;
	border-radius: .4em;
	background-color: rgba(var(--primary-color), .1);
}

.select-anatoms .options,
.edit-anatoms .options {
	min-width: min(350px, 100%);
	max-height: 12em;
	overflow-y: auto;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(var(--primary-color), .2);
	border-radius: .4em;
	padding: 1em;
	gap: 1em;
}

.select-anatoms .options>*,
.edit-anatoms .options>* {
	flex-basis: 16em;
}

.edit-anatoms>ul {
	flex-direction: column;
}

.select-anatoms p,
.edit-anatoms p {
	font-size: 1.2em;
}

.select-anatom,
.edit-anatom {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding: .5em;
	background-color: rgba(var(--primary-color), .6);
	border-radius: .4em;
	position: relative;
}

.select-anatom:not(:hover)>.show-on-hover {
	opacity: 0;
}

.select-anatom>.show-on-hover {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, .5);
	backdrop-filter: blur(2px);
	color: #fff;
	border-radius: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .2s ease-in-out;
}

.edit-anatom {
	padding-left: 1em;
	justify-content: space-between;
}

.edit-anatom > div {
	display: flex;
	gap: .5em;
}

.edit-anatom > div > button.delete-button {
	background-color: rgb(230, 55, 55);
}

.edit-anatom-popup {
	background-color: #ddd;
	padding: 1em;
	border-radius: .6em;
	position: relative;
	height: 100%;
	max-width: 100%;
	overflow: auto;
}

.edit-anatom-popup > button {
	position: fixed;
	top: 2em;
	right: 2em;
	border-top-right-radius: 0;
	padding: .5em 1em .3em;
	background-color: #e57676;
}

.edit-anatom-popup>button>i {
	font-size: 1.2em;
}

.fullscreen-overlay.window-message {
	background-color: transparent;
	backdrop-filter: none;
	inset: unset;
	top: 0;
}

.fullscreen-overlay.window-message > div {
	height: unset;
	padding: 0;
	padding-top: 2em;
}

.window-message .message {
	background-color: rgb(255, 127, 127);
	padding: 1em 2em;
	max-width: 40vw;
	border-radius: .4em;
	text-align: center;
	transition: all .5s;
	transform: translateY(-150%);
	opacity: 0;
}
.window-message .message.show {
	transform: translateY(0);
	opacity: 1;
}
.window-message .message.hide {
	opacity: 0;
}

.window-message .message>button {
	margin-top: 1em;
}

.confirm-popup.delete-bone-popup .bone-name {
	font-weight: bold;
	color: rgb(var(--primary-color));
}