.skeleton {
	width: 100%;
	align-items: start;
	padding: 2em 6em;
	background-color: rgba(var(--primary-color), .4);
	border-radius: .4em;
}

.skeleton h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
}

.select-bones>ul,
.select-bones>div,
.add-bones>ul,
.add-bones>div,
.edit-bones>ul,
.edit-bones>div {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(var(--primary-color), .2);
	border-radius: .4em;
	padding: 1em;
	margin-top: .5em;
	gap: 1em;
}

.edit-bones>ul {
	flex-direction: column;
}

.select-bones>p,
.add-bones>p,
.edit-bones>p {
	font-size: 1.2em;
}

.select-bone,
.add-bone,
.edit-bone {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding: .5em;
	background-color: rgba(var(--primary-color), .6);
	border-radius: .4em;
}

.edit-bone {
	justify-content: space-between;
}

.edit-bone > div {
	display: flex;
	gap: .5em;
}

.edit-bone > div > button.delete-button {
	background-color: rgb(230, 55, 55);
}

.edit-bone-popup {
	background-color: #ddd;
	padding: 1em;
	border-radius: .6em;
	position: relative;
	height: 100%;
	max-width: 100%;
	overflow: auto;
}

.edit-bone-popup > button {
	position: fixed;
	top: 2em;
	right: 2em;
	border-top-right-radius: 0;
	padding: .5em 1em .3em;
	background-color: #e57676;
}

.edit-bone-popup>button>i {
	font-size: 1.2em;
}

.fullscreen-overlay.window-message {
	background-color: transparent;
	backdrop-filter: none;
	inset: unset;
	top: 0;
}

.fullscreen-overlay.window-message > div {
	height: unset;
	padding: 0;
	padding-top: 2em;
}

.window-message .message {
	background-color: rgb(255, 127, 127);
	padding: 1em 2em;
	max-width: 40vw;
	border-radius: .4em;
	text-align: center;
	transition: all .5s;
	transform: translateY(-150%);
	opacity: 0;
}
.window-message .message.show {
	transform: translateY(0);
	opacity: 1;
}
.window-message .message.hide {
	opacity: 0;
}

.window-message .message>button {
	margin-top: 1em;
}

.confirm-popup.delete-bone-popup .bone-name {
	font-weight: bold;
	color: rgb(var(--primary-color));
}