.skeleton {
	width: 100%;
	align-items: start;
	padding: 2em 6em;
	background-color: rgba(var(--primary-color), .4);
	border-radius: .4em;
}

.skeleton h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
}

.select-bones > ul,
.add-bones > ul,
.edit-bones > ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
	gap: 1em;
}

.select-bones > p {
	font-size: 1.2em;
}

.select-bones>p>span {
	font-size: .9em;
	margin-left: .6em;
}

.select-bone,
.add-bone,
.edit-bone {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5em;
	padding: .5em;
	background-color: rgba(var(--primary-color), .6);
	border-radius: .4em;
}

.edit-bone-popup {
	background-color: #ddd;
	padding: 2em 3em;
	border-radius: 1em;
	position: relative;
	height: 100%;
	max-width: 100%;
	overflow: auto;
}

.edit-bone-popup > button {
	position: absolute;
	top: 0em;
	right: 0em;
	padding: .5em 1em .3em;
	border-top-right-radius: .9em;
	background-color: #e57676;
}

.edit-bone-popup>button>i {
	font-size: 1.2em;
}