.skeleton {
	width: 100%;
	align-items: start;
	padding: 2em 6em;
}

.skeleton h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
}

.bones-selection ul,
.add-bones ul,
.edit-bones ul {
	list-style: none;
}

.bones-selection > p {
	font-size: 1.2em;
}

.bones-selection>p>span {
	font-size: .9em;
	margin-left: .6em;
}

.add-bones ul,
.edit-bones ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 1em;
	gap: 1em;
}

.add-bone,
.edit-bone {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5em;
	padding: .5em;
	background-color: red;
	border-radius: .4em;
}

.edit-bone-popup {
	background-color: #ddd;
	padding: 2em 3em;
	border-radius: 1em;
	position: relative;
}

.edit-bone-popup > button {
	position: absolute;
	top: .5em;
	right: .5em;
}