.anatom-struct {
	background-color: rgba(var(--primary-color), 0.2);
	border-radius: .4em;
	width: 100%;
	overflow: auto;
	position: relative;
}

.anatom-struct-name {
	font-size: 2em;
	background-color: rgba(0, 0, 255, .2);
	width: 100%;
	text-align: center;
}

.property-pages {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
	margin-bottom: 2em;
}

.property-pages>button {
	width: fit-content;
}

.property-page {
	width: 100%;
}

.property-page h3 {
	text-align: center;
	margin-bottom: 1em;
}

.property-page-images {
	background-color: rgba(var(--primary-color), .2);
	padding: 1em .5em;
	border-radius: .4em;
}

.property-page-image {
	position: relative;
}

.property-page-image img {
	width: 100%;
	height: fit-content;
}

.property-page-image-circle {
	position: absolute;
	width: 50px;
	aspect-ratio: 1 / 1;
	border: 2px solid red;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.property-page-image-circle.active {
	border-color: green;
}
