.table {
	width: 100%;
	margin: 2em 0;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.table>.table-edit-button {
	background-color: transparent;
	padding: .3em .5em .3em .6em;
}

.table>.table-wrapper {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table>.table-wrapper::after {
	content: '';
	position: absolute;
	z-index: -1;
	inset: 0 0 0 0;
	border-radius: .4em;
	transition: box-shadow .3s;
}

.table>.table-wrapper.active::after {
	box-shadow: 0 0 1em 0 rgba(var(--primary-color), .8),
		inset 0 0 .5em 0 rgba(var(--primary-color), .8);
}

.table table {
	width: 100%;
	border-spacing: 0;
	text-align: center;
}

.table table thead th {
	background-color: rgb(var(--primary-color));
}

.table table tbody td {
	background-color: rgba(var(--primary-color), .2);
}

.table table thead tr:first-child th:first-child {
	border-top-left-radius: .4em;
}

.table table thead tr:first-child th:last-child {
	border-top-right-radius: .4em;
}

.table table tbody tr:last-child td:first-child {
	border-bottom-left-radius: .4em;
}

.table table tbody tr:last-child td:last-child {
	border-bottom-right-radius: .4em;
}

.table table th,
.table table td {
	padding: .4em 1em;
}

.table .table-add-row {
	margin: 1em 0 .2em;
}

.table .table-remove-row {
	padding: 0 .5em;
}

.table .table-variadic-control {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5em;
}

.table tr .table-variadic-control span {
	pointer-events: none;
	transition: opacity .2s;
}

.table tr:not(.active) .table-variadic-control span {
	opacity: 0;
}
