.bone-name {
	font-size: 2em;
	background-color: rgba(0, 0, 0, .2);
	width: 100%;
	text-align: center;
}

.bone-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
}

.bone-form>button {
	width: fit-content;
}

.bone-page h3 {
	text-align: center;
	margin-bottom: 1em;
}

.bone-page-image {
	position: relative;
}

.bone-page-image img {
	width: 100%;
	height: fit-content;
}

.bone-page-image-tracker {
	position: absolute;
	width: 50px;
	aspect-ratio: 1 / 1;
	border: 2px solid red;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.bone-page-image-tracker.active {
	border-color: green;
}

.bone-table {
	width: 100%;
	text-align: center;
	margin: 2em 0;
}

.bone-table table.active {
	border: 1px solid black;
}
