.dropdown {
	position: relative;
}

.dropdown>ul {
	list-style: none;
	position: absolute;
	z-index: 100;
	top: 110%;
	left: -10%;
	width: 120%;
	background-color: rgb(215, 215, 215);
	padding: .4em
}

.dropdown:not(.active)>ul {
	display: none;
}

.dropdown>ul>li {
	border: 1px solid black;
	margin: .2em 0;
	padding: .2em .5em;
	border-radius: .2em;
}

.dropdown>ul>li:hover {
	background-color: rgba(0, 0, 0, .5);
}
