@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: 100, 108, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: .4em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color .3s;
}
button:not(:disabled):hover {
  border-color: rgb(var(--primary-color));
}
button:disabled {
  pointer-events: none;
}

input {
  color: inherit;
  background-color: inherit;
  border: none;
  border-radius: .2em;
  background-color: rgba(255, 255, 255, .6);
  padding: .4em 1em;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

input[type=checkbox] {
  font-size: 1.2em;
  appearance: none;
  background: white;
  width: 1.2em;
  height: 1.2em;
  padding: .1em;
  position: relative;
  cursor: pointer;
}

input[type=checkbox]::after {
  content: '\f00c';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: .1em;
  right: 0;
  bottom: 0;
  left: 0;
  color: #0faa0f;
  opacity: 0;
  transform: scale(.5);
  transition: all ease-in-out .2s;
  text-align: center;
  vertical-align: middle;
}
input[type=checkbox]:checked::after {
  opacity: 1;
  transform: scale(1);
}

input[type=checkbox]:checked:disabled::after,
input[type=checkbox]:checked.disabled::after {
  color: #737373;
}

input.invalid {
  color: red;
  background-color: rgba(255, 0, 0, .1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  gap: 1em;
}
.container.container-horiz {
  flex-direction: row;
}
.container.container-start {
  justify-content: start;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1em;
}
.split-no-gap {
  gap: 0;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}
